<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta name="description" content="Welcome to my Projects. you can find many projects on real time working enjoy">
    <title>My Projects</title>
    <link rel="stylesheet" href="../static/css/projects.css">
    <link rel="apple-touch-icon" sizes="180x180" href="../favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon_io/favicon-16x16.png">
    <link rel="manifest" href="../favicon_io/site.webmanifest">
    <link rel="shortcut icon" href="../favicon_io/favicon.ico" type="image/x-icon">
</head>

<body>
    <div class="container">
        <header class="seen">
            <div class="name">
                <h2>C . S</h2>
            </div>
            <nav class="navcont">
                <ul>
                    <li><a href="../">Home</a> </li>


                </ul>
            </nav>

        </header>
        <div class="introBar">

            <div class="aboutbar">
                <div class="projectbar">
                    <a href="https://chandusurisetty.github.io/badJoke/"><img src="../static/image/badjoke.jpg"
                            alt="Badjoke"></a>
                    <div>
                        <h3>BadJoke</h3>
                        <p>Generates a random joke</p>

                    </div>
                </div>

                <div class="projectbar">
                    <a href="https://chandusurisetty.github.io/RockPaperScissors/"><img src="../static/image/rps.jpg"
                            alt="RockPaperScissors"></a>
                    <div>

                        <h3>Rock Paper Scissors</h3>
                        <p>Play Rock Paper Scissors with Computer</p>
                    </div>
                </div>
                <div class="projectbar">
                    <a href="https://chandusurisetty.github.io/alapacagenerator/"><img src="../static/image/alpaca.jpg"
                            alt="AlapacaGenerator"></a>
                    <div>

                        <h3>Alpaca Generator</h3>
                        <p>Create your own Alpaca Avatar</p>
                    </div>
                </div>
                <div class="projectbar">
                    <a href="https://chandusurisetty.github.io/calculator/"><img src="../static/image/calculator.jpg"
                            alt="Calculator"></a>
                    <div>

                        <h3>Calculator</h3>
                        <p>Normal Online calculator</p>
                    </div>
                </div>

                <div class="projectbar">
                    <a href="https://skaich.onrender.com"><img src="../static/image/skaich.png" alt="skaich"></a>
                    <div>

                        <h3>skAIch</h3>
                        <p>Create amazing artworks using the power of AI.</p>
                    </div>
                </div>


            </div>


        </div>

    </div>

</body>

</html>
